#Projetos {
  background-color: var(--bg-2);
}

.container-projects {
  position: relative;
}

.container-projects .titleSection h2 {
  color: var(--font-2);
  line-height: 150%;
}

.container-projects .titleSection p {
  color: var(--font-3);
  max-width: fit-content;
}

.wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.slide:hover {
  will-change: transform;

}

.projects {
  background-color: var(--bg-5);
  margin: 0 20px;
  transform: scale(.95);
  opacity: .8;
  border-radius: 5px;
  transition: .4s;
  padding: 40px;
  height: 120%;

}

.projects-grid {

  width: 80vw;
  max-width: 1000px;
  padding: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 60px 40px;
}

.projects.active {
  transform: scale(1);
  opacity: 1;
}

.projects h3 {
  width: max-content;
  color: var(--font-4);
  margin: 0 auto;
  color: #F3F3F3;
  font-size: 3rem;
  font-weight: 500;
  line-height: ;
}

.projects h3::after {
  width: 30%;
  display: block;
  content: ' ';
  transform: translateX(-10%);
  height: 3px;
  background-color: var(--primary);
}

.projects p {
  color: var(--font-4);
  line-height: 125%;
}

.projects p::after {
  width: 50%;
  display: block;
  content: ' ';
  transform: translateX(-3%);
  height: 2px;
  background-color: var(--primary);
}


.projects-tecnologies {
  background-color: var(--bg-1);
  width: max-content;
  padding: 10px 40px;
  color: var(--font-1);
  text-align: center;
  letter-spacing: 125%;
  border-radius: 5px;
  max-width: 100%;
  height: fit-content;
}

.projects-tecnologies-container {
  padding: 16px;
  display: flex;
  gap: 2px;
  overflow-x: auto;
}

.projects-tecnologies-container img {
  width: 50px;
  height: 50px;
}

.tecnologies-divisor {
  content: ' ';
  width: 2px;
  height: 50px;
  background-color: var(--primary);
  color: transparent;
}

.project-links {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-self: flex-start;
  align-self: flex-end;
  color: var(--font-1);
  color: #BEDEFC;
  place-items: center;
  gap: 16px 5px;
  margin: 20px;
}

.project-links a::after {
  width: 100%;
  display: block;
  content: ' ';
  height: 2px;
  background-color: currentColor;

}

.project-links img {
  height: 30px;
  width: 30px;
}

.projects-grid>img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  gap: 5px;
  transform: translateY(-20px);
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--bg-2);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  border: 2px solid var(--primary);
}

[data-control="slide"] li.active a,
[data-control="slide"] li:hover a {
  background-color: var(--primary);
}

