header {
  background-color: var(--bg-1);
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 1rem;
  box-sizing: border-box;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header-logo-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.hamburguer {
  display: none;

}



.header-nav {
  
}

.header-nav-list {
  display: flex;
  gap: 0 32px;
  position: relative;
}

.header-nav-list-items a {
  position: relative;
  padding: .5rem;
}

.header-nav-list-items ::after {
  content: "";
  height: 3px;
  width: 30%;
  border-radius: 5px;
  background-color: var(--bg-2);
  position: absolute;
  bottom: 5px;
  left: -3px;
  transition: 0.5s;
}

.header-nav-list-items:hover ::after {
  width: 100%;
}

@media screen and (max-width:750px) {
  .hamburguer {
    display: block;
    border: none;
    background: none;
    border-top: 3px solid var(--font-1);
    cursor: pointer;
  }

  .hamburguer::before,
  .hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--bg-2);
    margin-top: 5px;
    transition: .5s;
    position: relative;
  }

  .hamburguer.active {
    border-top-color: transparent;
  }

  .hamburguer.active::before {
    transform: rotate(135deg);
  }

  .hamburguer.active::after {
    top: -7px;

    transform: rotate(-135deg);
  }

  .header-nav {
    right: 13%;
    top: 3rem;
    position: fixed;
    z-index: 2;
    font-size: .1rem;
    padding: 0;
    background-color: var(--bg-1);
    border-radius: 0 0 5px 5px;
    height: max-content;
    transition: .3s;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    width: max-content;
    opacity: 0;
  }

  .header-nav.active {
    position: fixed;
    transform: scale(1.2);
    font-size: 1.4rem;
    top: 5rem;
    right: 10%;
    padding: 30px;
    visibility: visible;
    height: max-content;
    opacity: 90%;
  }

  .header-nav .header-nav-list {
    flex-direction: column;
    gap: 20px;
  }
}