.details{
  position: relative;
}
.details:first-child::after{
    content: " ";
    position: absolute;
    width: 10rem;
    height: 3px;
    top: 0;
    left: 0;
    background-color: var(--primary);

}
.details:first-child::before{
  content: " ";
  position: absolute;
  width: 3px;
  height: 10rem;
  left: 0;
  top: 0;
  background-color: var(--black);
}
.details:last-child > ::before{
  content: " ";
  position: absolute;
  width: 3px;
  height: 10rem;
  right: 0;
  bottom: 0;
  background-color: var(--black);
}
.details:last-child > ::after{
  content: " ";
  position: absolute;
  width: 10rem;
  height: 3px;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
}
