@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --cor-de-fundo: #3F8699;
    --cor-de-fundo-2: #73CDE6;
    --cor-neutra: #E68C92;
    --cor-primaria: #E6E25E;
    --cor-secundaria: #999626;
}

* {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    outline: none;
    
}
body{
    height: 100vh;
    padding: 20px;
    background-color: var(--cor-de-fundo);
}
a{
    color: #000;
}
a:visited{
    color: black;
}
p{
    line-height: 1.2em;
}
